/* ******************** IMPORTS ******************** */
@import url(../normalize-shiroi.css);

/* ******************** VARIABLES ******************** */

:root {
    /* Color pallete */
    --clr-warning: #ba0217; // Detailing
    --clr-accent: #333333; // Header, H1
    --clr-light: #ffffff; // Background
    --clr-dark: #666666; // Text

    /* Transition timer */
    --trns-timer: 0.5s;

    /* Padding and Margin */
    --strd-pm: 30px;
}

/* ******************** MIXINS ******************** */

@mixin text-formatting ($position, $mar) {
    text-align: $position;
    margin-block-end: $mar;
}

@mixin strd-pm {
    padding-block: var(--strd-pm);
}

/* Variables for padding and margin */
@mixin pad-mg ($pad: 0px, $mar: 0px) {
    padding-block: $pad;
    margin: $mar;
}

@mixin button ($bg-color: var(--clr-warning), $txt-color: var(--clr-light)) {
    background-color: $bg-color;
    color: $txt-color;

    padding: .5rem 2rem;
    border: none;

    display: block;
    margin: auto;

    &:hover {
        cursor: pointer;
    }
}

/* ******************** GENERAL ******************** */

/* Stop img weirdness! */
img {
    width: 100%;
    display: block;
}

html {
    --font-size: 1.1250rem;
    font-size: var(--font-size);
    color: var(--clr-dark);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    @include button();
    margin-block: var(--strd-pm);
}

html h1 {
    @include text-formatting(center, 0);
    & h2 {
        color: var(--clr-accent);
    }
}

input {
    background-image: url(parceiros/mail.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 10px;
}

footer ul {
    padding-inline-start: 0px;
}

/* ******************** HEADER ******************** */



/* ******************** MAIN ******************** */

.article {
    padding-inline: 6%;

    & > .section-card, h1 {
        @include strd-pm();
    }
}

.news-article-flex {
    --clr-news: #f4f4f4;
    background-color: var(--clr-news);
}


/* ******************** WRAPPER ******************** */

.wrapper {
    /* Variables for grid */
    --grid-from: 200px;
    --grid-to: 1fr;
    --grid-gap: 20px;
    /* ****************** */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-from), var(--grid-to)));
    gap: var(--grid-gap);
    /* ****** IMG ****** */
    & img {
        border-block-end: 0.5rem solid var(--clr-warning);
    }

}

/* ******************** SECTION CARDS ******************** */

.section-card {
    background-color: var(--clr-light);
    transition: box-shadow var(--trns-timer) ease;
    display: grid;
    margin-block-end: var(--strd-pm);
    & h2, p {
        padding-inline: 8px;
        margin: 8px;
    }
    & p:last-child {
        display: flex;
        align-items: end;
    }
    &:hover {
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1), -5px -5px 5px white;
    }
}

/* ******************** NEWSLETTER ******************** */

.newsletter {
    text-align: center;
    color: var(--clr-light);
    @include strd-pm();

    &.newsletter-main {
        padding-block-end: 50px;
        background-color: var(--clr-warning);
        & h1 {
            padding: 0px;
            margin: 0px;
        }
    }
}

/* ******************** PARCEIROS ******************** */

.img-parceiros-grid {
    /* Variables for grid */
    --grid-from: 100px;
    --grid-to: 1fr;
    --grid-gap: 40px;
    /* ****** GRID ****** */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-from), var(--grid-to)));
    gap: var(--grid-gap);
    align-items: center;
    @include strd-pm();
    /* ******* IMG ******* */
    & img {
        object-fit: contain;
        max-width: 150px;
        margin: auto;
    }
}

/* ******************** FOOTER ******************** */

footer {
    background-color: var(--clr-accent);
    & .footer-links-grid {
        /* Variables for grid */
        --grid-from: 200px;
        --grid-to: 1fr;
        --grid-gap: 20px;
        /* ****************** */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-from), var(--grid-to)));
        gap: var(--grid-gap);
        @include strd-pm();
        padding-inline: 6%;
        color: var(--clr-light);
        }
        & .info-text {
            position: relative;
            & > * {
                @include pad-mg(0px, 10px);
            }
            & a {
                text-decoration: none;
                color: var(--clr-light);
            }
            
            &  ul {list-style: none;
                    padding-inline-start: 0px;}
            & li::before {
                /* Red accents on the list items */
                content: '•';
                color: var(--clr-warning);
                position: absolute;
                left: -0.1rem;
            }
        }
        & .newsletter-last {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            & > * {
                @include pad-mg(0px, 10px);
            }
        }
        & .location-footer {
            color: var(--clr-news);
            & > * {
                @include pad-mg(0px, 10px);
            }
        }
        }
}

/* ******************** ACCESSABILITY ******************** */

.skip-content-link {
    position: absolute;
    transform: translateY(-1250%);

    background-color: aliceblue;
    margin-inline-start: 30px;
    z-index: 100;

    padding: 0.500rem 1rem;
    text-decoration: none;
    color: rgb(255, 0, 234);

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
    transition: transform var(--trns-timer) ease-in;

    &:focus {
        transform: translateY(-950%);
    }
}

    .icons-with-octagons {
        /* Let's set the rules for the grid! */
        display: grid;
        grid-template-areas: 
        'a . c'
        'a . c'
        'a b c'
        '. b .'
        '. b .';
        /* Set area names! */
        & > :nth-child(1) {
            grid-area: a;
        }
        & > :nth-child(2) {
            grid-area: b;
        }
        & > :nth-child(3) {
            grid-area: c;
        }
        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .1rem;
            position: relative;
            width: 3rem;
            height: 3em;
            aspect-ratio: 1;
            background-color: var(--clr-light);

            clip-path: polygon(
            25% 0%, 75% 0%, 
            100% 50%, 75% 100%, 
            25% 100%, 0% 50%);
            z-index: 100;
            &:hover {
                background-color: skyblue;
                color: skyblue;
                cursor: pointer;
            }
            & > * {
                display: block;
                text-align: center;
                font-size: 120%;
                width: 100%;
                aspect-ratio: 1;
                padding: .8rem;
                margin: auto;
                background-color: var(--clr-accent);

                clip-path: polygon(
                25% 0%, 75% 0%, 
                100% 50%, 75% 100%, 
                25% 100%, 0% 50%);
                z-index: 100;
            }
        }
    }