/* ***** IMPORTS ***** */
@import url(../normalize-shiroi.css);

/* ***** VARIABLES ***** */

:root {
    // Fonts

    // Colors
}

/* ***** MIXINS ***** */



/* ***** GENERAL ***** */

/* Stop img weirdness! */
img {
    width: 100px;
    display: block;
}

html {
    scroll-behavior: smooth;
}

/* ***** HEADER ***** */

header {
    background-image: url(images/alimentacaoGr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* *****  ***** */

/* ***** ACCESSABILITY BUTTON ***** */

.skip-nav-button {
    position: absolute;
    /* transform: translateY(-100%); Safari broke my feature :c */
    background-color: rgb(206, 232, 254);
    margin-inline-start: 30px;
    z-index: 100;

    padding: 0.500rem 1rem;
    text-decoration: none;
    color: rgb(255, 0, 234);

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    transition: background-color 0.250s ease;
    /* transition: transform 0.250s ease; */
}

.skip-nav-button:hover {
    background-color: rgb(126, 192, 250);
    /* transform: translateY(-100%); */
}