/* ***** Reset sheet ***** */
@import url(../normalize-shiroi.css);

/* ***** General ***** */

body {
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 100%;
}

button {
    background-color: black;

    border: none;

    color: white;
}

/* ***** Main ***** */

main {
    margin: 20px auto;
    background-color: rgb(232, 232, 230);
    max-width: 640px;

    text-align: center;
    padding: 0px 0px;
}

main > * {
    margin: 0 30px;
}

h1 {
    font-weight: 300;
}

h2 {
    margin-bottom: 0px;
}

/* ***** Header ***** */

header {
    margin: 0;
    padding: 20px 0;
}

.header-images img:nth-child(2) {
    width: 640px;
    display: block;
}

/* ***** Article ***** */

article {
    padding-bottom: 20px;
}

article h1:first-child {
    font-size: 3.5rem;
    margin-top: 0px;
}

article > p {
    font-weight: 100;
    font-size: 3em;
    padding: 0px;
    margin: 0px;
}

article > p:last-child {
    font-size: 2em;
    margin: 0px;
}

.grid-system {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px;

    row-gap: 5px;
    column-gap: 20px;
}

.grid-system div h1 {
    font-size: 1rem;
}

.grid-system > * {
    display: inline;
}

button:hover, a:hover {
    cursor: pointer;
}

/* ***** Footer ***** */

.widgets-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
}

footer a {
    text-decoration: underline;
    color: rgb(142, 142, 142);
}

footer {
    padding: 20px 30px;
    margin: 0px;
    background-color: white;
}